body{
    background-color: rgb(225, 244, 252);
}
#border1{
    background-color: white;
    border: 2px solid white;
}
#div_img{
    margin-left: 50px;
    
}
#img_parent{
    background-color: white;
    width: 300px;
    height: 450px;
    margin-left: 500px;
    margin-top: 70px;
    padding-top: 30px;
    padding-right: 7px;
    border-radius: 10px;
}
#heading{
   font-size: 1.3rem;
   color: rgb(36, 32, 32);
   font-weight: bold;
   margin-right: 10px;
}
#content{
    font-size: 1rem;
    color: black;
    font-weight: light;
}